@model HeroicSupport.Web.Models.RegisterNewUser.RegisterForm

@{
	ViewBag.Title = "Register";
	ViewBag.SubmitButton = "Sign Up";
}

<h2>Sign up now!</h2>
@using (Html.BeginForm())
{
	@Html.HorizontalFormForModel(submitButtonText:"Sign Up")
}
